# Server Configuration
PORT=8000
MONGODB_URI=
CORS_ORIGIN=http://localhost:5173

# JWT Secrets
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY="1h"
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY="10d"

# OAuth Credentials 
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Frontend Redirection
FRONTEND_URL=http://localhost:5173
NODE_ENV=development